<%= form_for (dataline), :html => {:class => "form-horizontal"} do |f| %>
  <% if dataline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataline.errors.count, "error") %> prohibited the odometer from being updated:</h2>

      <ul>
      <% @dataline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <label class="control-label" for="inputOdo"><strong>Odometer</strong></label>
     <div class="controls">
    <%= f.text_field :value, :class => 'input-small', :id => "inputValue", :placeholder => bike.current_odo.round %>
	<%= hidden_field_tag :bike_id, bike.id %>
	<%= f.hidden_field :datatype, :value => "odometer" %>
	<%= f.hidden_field :recorded_at, :value => DateTime.current %>
    </div>
  </div>
  <div class="actions">
      <%= f.submit "Update Odometer", :class => 'btn btn-small'%>
      <%= link_to "View", bike, :class => 'btn btn-small' %>
    </div>
<% end %>
