<div class="container-fluid">
	<div class="span8 offset2">
		<br>
		<br>
		<br>
		<div class="hero-unit">
		  <div class="container">
		      <div class="row">
		          <h1>MainteMinder</h1>

		          <p><% if @welcome_text.present? %> 
		          	<%= markdown(@welcome_text) %>
		          	<% end %>
		          	 </p>
					<p>
		          <%= link_to "Sign in with Twitter, ", "/auth/twitter" %>
				  <%= link_to "Facebook, ", "/auth/facebook" %>
				  <%= link_to "or Google.", "/auth/google_oauth2" %>
			  </p>
					  <p>
                  <%= link_to image_tag("/images/twitter-icon.png"), "/auth/twitter" %>
                  <%= link_to image_tag("/images/facebook-icon.png"), "/auth/facebook" %>
                  <%= link_to image_tag("/images/google-icon.png"), "/auth/google_oauth2" %>
                </p>
				<p>
				  Don't use these services?
				  <%= link_to "Create a MainteMinder account", new_identity_path %> or <%= link_to "Login", "/login" %>
				</p>
				
		      </div>
			  
		  </div>
		  
		</div>
		<p>
		  <small>By logging in you agree to the <%= link_to "Privacy Policy", "/privacy" %>.</small>
		</p>
	</div>
</div>