<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
  <div class="field">
    <p>Name:  <%= @user.name %></p>
  </div>
  <div class="field">
    <p>Email:  <%= f.text_field :email, :class => 'input-large' %></p>
  </div>
  <div class="field">
    <% if @user.guess_on %>
    <p>Guess current odometer reading:   <%= f.check_box :guess_on, {:checked=>true} %></p>
    <% else %>
    <p>Guess current odometer reading:   <%= f.check_box :guess_on %></p>
    <% end %>
  </div>
  <div class="field">
    <% if @user.is_subscribed %>
    <p>Email me weekly maintenance report:   <%= f.check_box :is_subscribed, {:checked=>true} %></p>
    <% else %>
    <p>Email me weekly maintenance report:   <%= f.check_box :is_subscribed %></p>
    <% end %>
    <i>You will only recieve this email if maintenance is due within a week.</i>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-small" %>
  </div>
  </form>
<% end %>