<h1>Admin console</h1>
<div class="span5">
  <ul class="nav nav-pills">
	  <li><a href="stats">Stats</a></li>
    <li>
    <a href="admin_objects">Bugs</a>
    </li>
    <li><a href="afaqs">FAQs</a></li>
    <li><a href="changes">Change Log</a></li>
    <li><a href="text">Site Text</a></li>
    <li class="active"><a href="users">Users</a></li>
  </ul>
</div>
<table class="table">
  <tr>
  	<th>id</th>
  	<th>Avatar</th>
    <th>Nickname</th>
    <th>Name</th>
    <th>email</th>
	<th>Limit</th>
    <th>Disabled date</th>
    <th>Tester</th>
    <th>Admin</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
    <tr>
    	<td><%= user.id %></td>
    	<td><%= image_tag user.avatar, :class => 'img-rounded', :size => "50x50" %></td>
	    <td><%= user.userid %></td>
	    <td><%= user.name %></td>
	    <td>
	    	<% if user.limit != nil %>
	    		<%= user.limit %>
	    	<%else%>
	    		<%= "No Limit" %>
	    	<%end%>	

	    </td>

	    <td>
	    	<% if user.email != nil && user.email != "" && user.email != "noemail" %>
	    		<%= user.email %>
	    	<%else%>
	    		<%= "No Email" %>
	    	<%end%>	

	    </td>
	    
	    <td>
	    	<% if user.disabled_at != nil %>
	    		<%= user.disabled_at %>
	    	<%else%>
	    		<%= "Enabled" %>
	    	<%end%>		    	

	    </td>
	    
	    <td>
	    	<% if user.is_tester %>
	    		<%= link_to 'Disable Testing', user_unset_tester_path(user), :class => 'btn btn-small' , :method => :post %>
	    	<%else%>
	    		<%= link_to 'Allow Testing', user_set_tester_path(user), :class => 'btn btn-small' , :method => :post %>
	    	<%end%>	
	    </td>
	    <td>
	    	<% if user.is_admin %>
	    		<%= link_to 'Disable Admin', user_unset_admin_path(user), :class => 'btn btn-small', :method => :post , data: { confirm: 'Are you sure?' } %>
	    	<%else%>
	    		<%= link_to 'Enable Admin', user_set_admin_path(user), :class => 'btn btn-small', :method => :post , data: { confirm: 'Are you sure?' } %>
	    	<%end%>	
	    </td>
	    <td>
	    	<% if user.disabled_at == nil %>
			<%= link_to 'Disable account', user_destroy_by_admin_path(user), :class => 'btn btn-small btn-danger', :method => :post, data: { confirm: 'Are you sure? Disabled accounts will be deleted in time.' } 
				    %>
	    	<%else%>
			<%= link_to 'Enable account', user_enable_by_admin_path(user), :class => 'btn btn-small btn-danger', :method => :post, data: { confirm: 'Are you sure?' } 
				    %>
	    	<%end%>	
	    </td>
    </tr>
  <% end %>
</table>

<br />