<div class="container-fluid">
<h1>Account</h1>

<%= render 'form' %>

<div>
<%= link_to 'Delete My Account', @user, :class => 'btn btn-small btn-danger', method: :delete, data: { confirm: 'Are you sure, all bikes will be deleted?' } %>
</div>
</div>