<%= form_tag sessions_path do %>
  <div >
    <div class="well well-large span4">
      <div >
        <ul class="nav nav-pills">
          <li class="active">
          <a>About</a>
          </li>
          <li><a href="/faqs">FAQs</a></li>
          <li><a href="/changelog">Changes</a></li>
        </ul>
      </div>
      <h2>Stats</h2>
        <div>
          <span class="label label-info">Users signed up</span>
          <span class="badge badge-info pull-right"><%= User.count %></span>
        </div>
        <br>
        <div>
          <span class="label label-info">Vehicles Maintained</span>
          <span class="badge badge-info pull-right"><%= Bike.count %></span>
        </div> 
      </div> 
      <div class="span9">
          <h1>About MainteMinder</h1>
          <body>
            <p>
              <% if @about_main.present? %> 
                <%= markdown(@about_main) %>
              <% end %>
          </body>
      </div>
      
  </div>

<% end %>