<%= form_tag sessions_path do %>
  <div >
    <div class="well well-large span4">
      <div >
        <ul class="nav nav-pills">
          <li>
          <a href="/about">About</a>
          </li>
          <li><a href="/faqs">FAQs</a></li>
          <li class="active"><a>Changes</a></li>
        </ul>
      </div>
	  <% @objects.sort_by!%>
      <div class="row">
            <ul class="span4 nav nav-tabs nav-stacked">
              <li><a href="#bugs">Bugs<i class="icon-chevron-right"></i></a></li>
              <% @objects.each do |object| %>
                <% if object.object_type == "change" %>
					<li><%= link_to object.name, changelog_path(anchor:"admin_object_#{object.id}") %><i class="icon-chevron-right"></i></li>
                <%end%>
              <%end%>
            </ul>
        </div> 
      </div> 
      <div class="span9">
          <h1>Changes</h1>
          <body>
            <div id="bugs">
              <span class="label label-info">Current Bugs</span>
              <% @objects.each do |object| %>
                <% if object.object_type == "bug" %>
                  <p><i class="icon-thumbs-down"></i><%=object.name%></p>
                <%end%>
              <%end%>
            </div>
          </body>
          <body>
            <%= div_for(@objects) do |object| %>
                <% if object.object_type == "change" %>
                  <div>
                    <span class="label label-info"><%=object.name%></span>
                    <p>
                      <%=object.date_created%>
                    </p>
                    <p>
                      <%=markdown(object.body)%>
                    </p>
                  </div>
                <%end%>
            <%end%>
          </body>
      </div>
      
  </div>

<% end %>