<%= form_tag sessions_path do %>
  <div >
    <div class="well well-large span4">
      <div >
        <ul class="nav nav-pills">
          <li>
          <a href="/about">About</a>
          </li>
          <li class="active"><a>FAQs</a></li>
          <li><a href="/changelog">Changes</a></li>
        </ul>
      </div>
        <div class="row">
            <ul class="span4 nav nav-tabs nav-stacked">
              <% @objects.each do |object| %>
                <% if object.object_type == "question" %>
				<li><%= link_to object.name, faqs_path(anchor:"admin_object_#{object.id}") %><i class="icon-chevron-right"></i></li>
                <%end%>
              <%end%>
            </ul>
        </div>
      </div>
      </div> 
      <div class="span9">
          <h1>Frequently Asked Questions</h1>
          <body>
            <%= div_for(@objects) do |object| %>
                <% if object.object_type == "question" %>
                		<span class="label label-info"><%=object.name%></span>
                    <p>
                      <%=markdown(object.body)%>
                    </p>
                <%end%>
            <%end%>
          </body>
      </div>
      
  </div>

<% end %>