<%= form_tag sessions_path do %>
  <div >
      <div class="span12">
          <h1>Privacy Policy</h1>
          <body>
            <p>
              <% if @privacy_policy.present? %> 
                <%= markdown(@privacy_policy) %>
              <% end %>
          </body>
      </div>
      
  </div>

<% end %>