<%= form_for(bike) do |f| %>
  <% if bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputOdo"><strong>Odometer</strong></label>
     <div class="controls">
    <%= f.text_field :odo, :class => 'input-small', :id => "inputOdo", :placeholder => bike.current_odo %>
    </div>
  </div>
  <div class="actions">
      <%= f.submit "Update Odometer", :class => 'btn btn-small' %>
      <%= link_to "View", bike, :class => 'btn btn-small' %>
    </div>
  </form>
<% end %>
