<%= form_for(@bike) do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
  <p>* = required</p>
  <div class="control-group">
    <label class="control-label" for="inputName">Name *</label>
     <div class="controls">
    <%= f.text_field :name, :class => 'input-large', :id => "inputName" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputColour">Year *</label>
     <div class="controls">
    <%= f.text_field :year, :class => 'input-small', :id => "inputColour" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPlate">Plate</label>
     <div class="controls">
    <%= f.text_field :plate, :class => 'input-small', :id => "inputPlate" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputColour">Colour</label>
     <div class="controls">
    <%= f.text_field :colour, :class => 'input-small', :id => "inputColour" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputColour">Photo - Enter the URL of a hosted photo for your bike.</label>
     <div class="controls">
    <%= f.text_field :picurl, :class => 'input-large', :id => "inputColour" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-small' %>
  </div>
  </form>
<% end %>
