<div class="container-fluid">
	<div class="span12">
	  <h2><%= @bike.name %></h2>
	</div>
	<div class="span2">
	    <% if @bike.picurl != nil && @bike.picurl != ""%>
	    <%= image_tag @bike.picurl, :class => 'img-rounded', :size => "200x200" %>
	    <%end%>
	</div>
	<div class="span4">
	<ul>
	  <b>Year:</b>
	  <%= @bike.year %>
	</ul>
	<ul>
	  <b>Odometer:</b>
	  <%= @bike.current_odo %>
	</ul>
	<ul>
	  <b>Plate:</b>
	  <%= @bike.plate %>
	</ul>
	<ul>
	  <b>Colour:</b>
	  <%= @bike.colour %>
	</ul>
	</div>
	<div class="span12">
		<%if current_user.is_tester? %>
      <ul class="nav nav-pills">
		<li class="active"><%= link_to 'Refresh', '#'%></li>      
		<li class="disabled"><%= link_to '', '' %></li>
		<li class="dropdown, active">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		      Data 1 <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      
				  <% @bike.datalines.select("DISTINCT(datatype)").each do |line| %>
				  <li>
				  	<%= link_to line.datatype, '#'%>
				  </li>
				  <% end %>
		      
		    </ul>
		</li>
		<li class="dropdown, active">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		      Data 2 <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
			  <% @bike.datalines.select("DISTINCT(datatype)").each do |line| %>
			  <li>
			  	<%= link_to line.datatype, '#'%>
			  </li>
			  <% end %>
		      
		    </ul>
		</li>
		<li class="dropdown, active">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		      Data 3 <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
			  <% @bike.datalines.select("DISTINCT(datatype)").each do |line| %>
			  <li>
			  	<%= link_to line.datatype, '#'%>
			  </li>
			  <% end %>
		      
		    </ul>
		</li>
		<li class="disabled"><%= link_to '', '' %></li>
		<li class="active">
			  <div id="datetimepicker1" class="input-append date">
			    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span>
			  </div>
			<script type="text/javascript">
			  $(function() {
			    $('#datetimepicker1').datetimepicker({
			      language: 'pt-BR'
			    });
			  });
			</script>
		</li>
		<li> <strong> to </strong> </li>
		<li class="active">
			  <div id="datetimepicker1" class="input-append date">
			    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span>
			  </div>
			<script type="text/javascript">
			  $(function() {
			    $('#datetimepicker1').datetimepicker({
			      language: 'pt-BR'
			    });
			  });
			</script>
		</li>
		<li class="disabled"><%= link_to '', '' %></li>
		<li class="active"><%= link_to 'Exit Dash', bike_path(@bike)%></li>
      </ul>
    </div>
	<script>
	nv.addGraph(function () {
	    var chart = nv.models.linePlusBarChart().margin({
	        top: 30,
	        right: 20,
	        bottom: 50,
	        left: 45
	    }).showLegend(true).tooltipContent(function (key, y, e, graph) {
	        return '<h3>' + key + '</h3>' + '<p>' + e + '% at ' + y + '</p>'
	    });
    
	    //chart.forceY([3, 5]);
    
	    chart.xAxis.tickFormat(function (d) {
	        //return d3.time.format('%x')(new Date(d))
	        //return d3.time.format('%H:%M:%S')(new Date(d))
	        return d3.time.format('%d/%m/%y')(new Date(d))
	    });

	    d3.select('#lineChart svg')
	        .datum(data)
	        .transition().duration(500)
	        .call(chart);

	    nv.utils.windowResize(chart.update);
	    return chart;
	});

	data = [{
	    "values": [{
	        "x": 1025409600000 ,
	            "y": 3.5
	    }, {
	        "x": 1028088000000 ,
	            "y": 4
	    }, {
	        "x": 1030766400000 ,
	            "y": 3.9
	    }, {
	        "x": 1033358400000 ,
	            "y": 3
	    }, {
	        "x": 1036040400000  ,
	            "y": 3.8
	    }, {
	        "x": 1038632400000  ,
	            "y": 3.7
	    }],
	        "key": "Sine Wave",
	}]
	
	</script>
	
	<div id="lineChart">
	    <svg></svg>
	</div>

  	  <%end%>
</div>