<div class="container-fluid">
	<div class="span12">
		<h2>Import Maintenance Items</h2>
        <p><% if @import_text.present? %> 
        	<%= markdown(@import_text) %>
        	<% end %>
        	 </p>
	</div>
	<div class="span12">
		<%= form_tag import_m_items_path(:bike_id => @bike), multipart: true do %>
	  		<%= file_field_tag :file %>
	  		<%= submit_tag "Import", :class => 'btn btn-small' %>
		<% end %>
	</div>
</div>