<% if current_user %>

<% if current_user.email == "" %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> 
    You have not added an email address, you will not recieve email notifications.
  </div>
<%end%>
<div class="container-fluid">
<div class="span6 offset2">
<h4>Your Vehicles</h4>
<%= link_to 'New Vehicle', new_bike_path, :class => 'btn btn-small' %>
 </div>
 <div>
  <BR>&nbsp;<BR>
 <% if current_user.bikes.count > 0 %>
  <% current_user.bikes.each do |bike| %>
    <div class="row-fluid">
      <div class="span6 offset3">
        <div class="hero-unit">
        
          <% if bike.overcount > 0 %>
            <span class="badge badge-info pull-right"><%= bike.overcount %></span>
          <%end%>

          
          <% if bike.picurl != nil && bike.picurl != ""%>
          <h1><%= link_to (image_tag bike.picurl, :class => 'img-rounded', :size => "100x100"), bike %>
            <%= bike.name %></h1>
          <% else %>
          <h1><%= bike.name %></h1>
          <%end%>
          <br>
		  	<%= render :partial => "datalines/new_odo_form", :locals => { :dataline => bike.datalines.new, :bike => bike } %>
          
          
        </div>
    </div>
    </div>  
  <% end %>
<% else %>
<p> You have no vehicles! </p>

<% end %>
</div>
</div>

<% end %>




