<div class="container-fluid">
	<div class="span12">
	  <h1>Maintenance Report</h1>
	</div>
	<div class="span12">
	  <h2><%= @bike.name %></h2>
	</div>
<div class="span2">
    <% if @bike.picurl != nil && @bike.picurl != ""%>
    <%= image_tag @bike.picurl, :class => 'img-rounded', :size => "200x200" %>
    <%end%>
</div>
<div class="span4">
<ul>
  <b>Year:</b>
  <%= @bike.year %>
</ul>
<ul>
  <b>Odo:</b>
  <%= @bike.odo %>
</ul>
<ul>
  <b>Plate:</b>
  <%= @bike.plate %>
</ul>
<ul>
  <b>Colour:</b>
  <%= @bike.colour %>
</ul>
</div>
<div class="span12">
<table class="table">
	<tr>
		<td>Maintenance Item</td>
		<td>Completed on</td>
		<td>Odometer reading</td>
	    <td>Notes</td>
	</tr>

	<% @bike.m_items.sort_by!%>
<% @bike.m_items.each do |m_item| %>
	<% if m_item.completed_at.present? %>
 	<tr class="info">
 		<td><%= m_item.name %></td>
		<td><%= m_item.completed_at %></td>
		<td><%= m_item.completed_at_odo %></td>
	    <td><%= m_item.notes %></td>
	</tr>
	<% end %>
<% end %>
</table>
</div>
</div>