<div class="container-fluid">
	<div class="span12">
	  <h2><%= @bike.name %></h2>
	</div>
<div class="span2">
    <% if @bike.picurl != nil && @bike.picurl != ""%>
    <%= image_tag @bike.picurl, :class => 'img-rounded', :size => "200x200" %>
    <%end%>
</div>
<div class="span4">
<ul>
  <b>Year:</b>
  <%= @bike.year %>
</ul>
<ul>
  <b>Odometer:</b>
  <%= @bike.current_odo.round %>
</ul>
<ul>
  <b>Plate:</b>
  <%= @bike.plate %>
</ul>
<ul>
  <b>Colour:</b>
  <%= @bike.colour %>
</ul>
</div>
    <div class="span12">
      <ul class="nav nav-pills">      
		<li class="active"><%= link_to 'New Maintenance Item', new_m_item_path(:bike_id => @bike) %></li>
		<li class="active"><%= link_to 'Import Maintenance Items', bike_import_path(@bike) %></li>
		<li class="active"><%= link_to 'View Maintenance Report', bike_report_path(@bike), :target => "_blank" %></li>
		<% if current_user.is_tester? %>
			<li class="active"><%= link_to 'Dash', bike_dash_path(@bike) %></li>
		<% end %>
		<li class="disabled"><%= link_to '', '' %></li>
        <li class="active"><%= link_to 'Edit Vehicle', edit_bike_path(@bike) %></li>        
		<li class="active"><%= link_to 'Delete Vehicle', @bike, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
<div>
<table class="table">
	<tr>
		<td>Maintenance Item</td>
	    <td>Odometer due</td>
	    <td>Date due</td>
	    <td>Notes</td>
		<td>Complete?</td>
	    <td>Delete?</td>
	</tr>

	<% @bike.m_items.sort_by!%>
<% @bike.m_items.each do |m_item| %>
	<% if m_item.overdue? && !m_item.completed_at.present? %>
 	<tr class="error">
 		<td><%= m_item.name %></td>
	    <td><%= m_item.odo %></td>
	    <td><%= m_item.date %></td>
	    <td><%= m_item.notes %></td>
		<td><%= link_to 'Complete', m_item_complete_path(m_item), :class => 'btn btn-small btn-info', :method => :post, data: { confirm: 'Are you sure?' } %></td>
	    <td><%= link_to 'Delete', m_item, :class => 'btn btn-small btn-danger', method: :delete %></td>
	</tr>
	<% end %>
 	
<% end %>
<% @bike.m_items.each do |m_item| %>
<% if !m_item.overdue? && !m_item.completed_at.present? %>
 	<tr class="info">
		<td><%= m_item.name %></td>
	    <td><%= m_item.odo %></td>
	    <td><%= m_item.date %></td>
	    <td><%= m_item.notes %></td>
		<td><%= link_to 'Complete', m_item_complete_path(m_item), :class => 'btn btn-small btn-info', :method => :post, data: { confirm: 'Are you sure?' } %></td>
	    <td><%= link_to 'Delete', m_item, :class => 'btn btn-small btn-danger', method: :delete %></td>
	</tr>
	<% end %>
	<% end %>
</table>
</div>
</div>