<%= form_for(@admin_object) do |f| %>
  <% if @admin_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_object.errors.count, "error") %> prohibited this admin_object from being saved:</h2>

      <ul>
      <% @admin_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :date_created %>
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :object_type %>
    <select name="admin_object[object_type]">
      <option value="bug" selected="selected">Bug</option>
      <option value="question">FAQ</option>
      <option value="text">Site Text</option>
      <option value="change">Change</option>
    </select>
   
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.text_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
