<h1>Admin console</h1>
  <div class="span5">
    <ul class="nav nav-pills">
		<li><a href="stats">Stats</a></li>
      <li>
      <a href="admin_objects">Bugs</a>
      </li>
      <li><a href="afaqs">FAQs</a></li>
      <li class="active"><a href="changes">Change Log</a></li>
      <li><a href="text">Site Text</a></li>
      <li><a href="users">Users</a></li>
    </ul>
  </div>
  <div class="span3 pull-right">
    <%= link_to 'Log New Changes', new_admin_object_path, :class => 'btn btn-small' %>
  </div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Body</th>
    <th>Date created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_objects.each do |admin_object| %>
<% if admin_object.object_type == 'change' %>
  <tr>
    <td><%= admin_object.name %></td>
    <td><%= admin_object.body %></td>
    <td><%= admin_object.date_created %></td>
    <td><%= link_to 'Show', admin_object %></td>
    <td><%= link_to 'Edit', edit_admin_object_path(admin_object) %></td>
    <td><%= link_to 'Destroy', admin_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />
