<h1>Admin console</h1>
<div>
    <div class="span5">
        <ul class="nav nav-pills">
			<li><a href="stats">Stats</a></li>
          <li class="active">
          <a href="admin_objects">Bugs</a>
          </li>
          <li><a href="afaqs">FAQs</a></li>
          <li><a href="changes">Change Log</a></li>
          <li><a href="text">Site Text</a></li>
          <li><a href="users">Users</a></li>
        </ul>
    </div>
    <div class="span3 pull-right">
    <%= link_to 'Log New Bug', new_admin_object_path, :class => 'btn btn-small' %>
    </div>
</div>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Info</th>
    <th>Date logged</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_objects.each do |admin_object| %>
<% if admin_object.object_type == 'bug' %>
  <tr>
    <td><%= admin_object.id %></td>
    <td><%= admin_object.name %></td>
    <td><%= admin_object.body %></td>
    <td><%= admin_object.date_created %></td>
    <td><%= admin_object.priority %></td>
    <td><%= link_to 'Show', admin_object %></td>
    <td><%= link_to 'Edit', edit_admin_object_path(admin_object) %></td>
    <td><%= link_to 'Destroy', admin_object, method: :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />
