<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_object.name %>
</p>

<p>
  <b>Body:</b>
  <%= @admin_object.body %>
</p>

<p>
  <b>Date created:</b>
  <%= @admin_object.date_created %>
</p>

<p>
  <b>Type:</b>
  <%= @admin_object.object_type %>
</p>

<p>
  <b>Priority:</b>
  <%= @admin_object.priority %>
</p>

<p>
  <b>Answer:</b>
  <%= @admin_object.answer %>
</p>


<%= link_to 'Edit', edit_admin_object_path(@admin_object) %> |
<%= link_to 'Back', admin_objects_path %>
