<h1>Admin console</h1>
  <div class="span5">
    <ul class="nav nav-pills">
		<li class="active"><a href="stats">Stats</a></li>
      <li>
      <a href="admin_objects">Bugs</a>
      </li>
      <li><a href="afaqs">FAQs</a></li>
      <li><a href="changes">Change Log</a></li>
      <li><a href="text">Site Text</a></li>
      <li><a href="users">Users</a></li>
    </ul>
  </div>

<table class="table">
  <tr>
    <td>Users</td>
    <td><%= User.count %></td>
  </tr>
  <tr>
    <td>Vehicles</td>
    <td><%= Bike.count %></td>
  </tr>
  <tr>
    <td>Twitter Users</td>
    <td><%= User.where(provider: "twitter").count %></td>
  </tr>
  <tr>
    <td>Facebook Users</td>
    <td><%= User.where(provider: "facebook").count %></td>
  </tr>
  <tr>
    <td>Google Users</td>
    <td><%= User.where(provider: "google_oauth2").count %></td>
  </tr>
  <tr>
    <td>Local Users</td>
    <td><%= User.where(provider: "identity").count %></td>
  </tr>
</table>

<br />
