<h1>MainteMinder</h1>
<h2>Maintenance due this week:</h2>
<p>You have <span class="label label-info"><%=user.overdueCount%></span> items overdue, and <span class="label label-info"><%=user.dueSoonCount%></span> items due this week.</p>

<% @user.bikes.each do |bike| %>
	<% if bike.overdueCount > 0 || bike.dueSoonCount > 0  %>
		<h2><%= link_to (image_tag bike.picurl, :class => 'img-rounded', :size => "100x100"), bike %>
	            <%= bike.name %></h2>
	    <p>Estimated Odometer reading: <%=bike.odoGuess%></p>
		<table class="table">
			<tr>
				<td>Maintenance Item</td>
			    <td>Odometer due</td>
			    <td>Date due</td>
			    <td>Notes</td>
			</tr>
			<% bike.m_items.sort_by!%>
				<% bike.m_items.each do |m_item| %>
					<% if m_item.overdue? %>
				 	<tr class="error">
				 		<td><%= m_item.name %></td>
					    <td><%= m_item.odo %></td>
					    <td><%= m_item.date %></td>
					    <td><%= m_item.notes %></td>
					</tr>
					<% end %>
				 	
				<% end %>
				<% @bike.m_items.each do |m_item| %>
					<% if !m_item.dueSoon? %>
					 	<tr class="info">
							<td><%= m_item.name %></td>
						    <td><%= m_item.odo %></td>
						    <td><%= m_item.date %></td>
						</tr>
					<% end %>
				<% end %>
		</table>
	<% end %>
<% end %>