<%= form_for(@m_item) do |f| %>
  <%= hidden_field_tag 'bike_id', @bike.id %>
  <% if @m_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_item.errors.count, "error") %> prohibited this m_item from being saved:</h2>

      <ul>
      <% @m_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
  <p>* = required</p>
  <div class="control-group">
    <label class="control-label" for="inputName">Name *</label>
    <%= f.text_field :name,  :class => 'input-large', :id => "inputName" %>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputOdo">Due when odometer is</label>
    <%= f.number_field :odo,  :class => 'input-small', :id => "inputOdo"  %>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDate">Date due</label>
    <%= f.date_select :date, :id => "inputDate"  %>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputNotes">Notes</label>
    <%= f.text_area :notes,  :class => 'input-xxlarge', :id => "inputNotes"  %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-small" %>
  </div>
  </form>
<% end %>