<!DOCTYPE html>
<html>
<head>
  <title>MainteMinder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/bikes">MainteMinder</a>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <ul class="pull-right">
            <% if current_user %>
                <h8><%= current_user.name %></h8>
                <% if current_user.avatar %>
                  <%= link_to image_tag(current_user.avatar, :height => '32', :width => '32'), current_user%>
                <% end %>
            <% else %>
                <strong>
                  Sign in <i class="icon-hand-right"></i>
                </strong>
                <%= link_to image_tag("/images/twitter-icon.png"), "/auth/twitter" %>
                <%= link_to image_tag("/images/facebook-icon.png"), "/auth/facebook" %>
                <%= link_to image_tag("/images/google-icon.png"), "/auth/google_oauth2" %>
                

          <% end %>
        </ul>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <% if current_user && user_enabled? %>
              <% if params[:controller] == 'bikes' %>
                <li class="active" ><%= link_to "Vehicles", bikes_path %></li>
              <% else %>
                <li><%= link_to "Vehicles", bikes_path %></li>
              <% end %>
              <% if params[:controller] == 'users' %>
                <li class="active" ><%= link_to "Account", current_user %></li>
              <% else %>
                <li><%= link_to "Account", current_user %></li>
              <% end %>
              <% if params[:controller] == 'pages' %>
                <li class="active" ><%= link_to "Help", "/faqs" %></li>
              <% else %>
                <li><%= link_to "Help", "/faqs" %></li>
              <% end %>
              <% if current_user.is_admin == true %>
                <% if params[:controller] == 'admin_objects' %>
                  <li class="active" ><%= link_to "Admin", admin_objects_path %></li>
                <% else %>
                  <li><%= link_to "Admin", stats_path %></li>
                <% end %>
              <% end %>
              <li><%= link_to "Sign out", log_out_path %></li>
            <% else %>
              <% if params[:controller] == 'pages' %>
                <li class="active" ><%= link_to "About", '/about' %></li>
              <% else %>
                <li><%= link_to "About", '/about' %></li>
              <% end %>   
            <% end %>
          </ul>
        </div>
    </div>
  </div> 
  <% if current_user && !user_enabled? %>
    <div class="alert alert-error">
    Your account is disabled, contact support. 
    </div>
  <% end %>
<% flash.each do |name, msg| %>
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= raw(msg) %>
</div>
<% end %>

<%= yield %>
<%= render :partial => 'layouts/ga' if Rails.env == 'production' %>
</body>
</html>